  footer.footer {
    color: $white;
    background: $footer_color;
    padding: 50px 0;
    font-size: 14px;
    .logo-footer {
      width: 315px;
      height: auto;
      margin-bottom: 40px;
    }
    h2 {
      @include secondaryFont(52px, 400);
      margin-bottom: 40px;
      line-height: 0.7em;
      top: -6px;
      position: relative;
    }
    h4 {
      font-size: 18px;
      font-weight: 800;
      margin-bottom: 40px;
      text-transform: uppercase;
      min-height: 21px;
      &.text-suscribe {
        text-transform: none;
      }
    }
    ul {
      list-style: none;
      padding: 0;
      li {
        margin-bottom: 20px;
      }
    }
    a {
      color:#fff;
    }
    .form-input {
      width: 60%;
      background-color: $form_input_bg;
      border-radius: 30px;
      padding: 0 10px 0 15px;
      height: 50px;
      color: $white;
      border: 0;
      caret-color: $white;
      &:focus {
        outline: 0;
        background-color: lighten($form_input_bg, 5%)
      }
    }

    .wrap-btn {
      display: inline-block;
      position: relative;
      left: -40px;
      top: 0;
      .btn-with-icon {
        background: url('../images/css/btn-arrow.png') no-repeat 90% 50%,
        linear-gradient(0deg,rgba(104,24,17,1) 0,rgba(182,39,25,1) 100%);
        background-size: 50px, cover;
        position: relative;
        top: -2px;
      }
    }

    .flag-logo {
      width: 250px;
      text-align: center;
      display: block;
      margin: 40px auto;
    }

    .footer-bar {
      border-top: 1px solid $darker_grey;
      padding-top: 45px;
      p {
        display: inline-block;
        margin-bottom: 0;
      }
      .wrap-pay {
        text-align: center;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }
      img.logo-pay {
        width: 80px;
        height: auto;
        filter: grayscale(1);
        align-self: center;
        padding: 0 10px;
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;
        }
      }
      .right-links {
        float: right;
        padding-right: 20px;
        a {
          padding: 10px;
          &:first-child {
            padding-left: 0;
          }
          &:last-child {
            padding-right: 0;
          }
        }
      }
    }

  } // footer