body {

  @include primaryFont(16px, 400);

  .content {
    .breadcrums {
      padding: 122px 0 10px 0;
    }
    .hero {
      background: transparent url('../images/css/bg-valentino-rossi.jpg') no-repeat center center;
      background-size: cover;
      padding: 60px 40px;
      color: $white;
    }

    .filters {
      text-transform: uppercase;
      align-items: center;
      .items {
        margin-bottom: 0;
        font-weight: 800;
      }
      .grid-elements {
        text-align: center;
        .change-grid {
          padding: 0 10px;
          span {
            border: 1px solid $grey;
            background-color: $grey;
            display: inline-block;
            width: 5px;
            height: 10px;
          }
          &.active {
            span {
              border: 1px solid $black;
              background-color: $black;
            }
          }
          &:hover {
            text-decoration: none;
          }
        }
      }
      .wrap-sort {
        text-align: center;
        position: relative;
        .sort {
          color: $grey;
          padding-right: 8%;
        }
        .select-sort {
          color: $black;
          position: relative;
          .fa {
            position: absolute;
            display: inline-block;
            font: normal normal normal 26px/1 "FontAwesome";
            font-style: normal;
            font-weight: 400;
            line-height: 1;
            top: -2px;
            right: -20px;
            text-decoration: none;
            text-align: center;
          }
        }
        .sort-submenu {
          width: 100%;
          text-align: center;
          //text-transform: none;
        }
      }// End wrap-sort

    }// End filters

  } // End content
}