/*==========  Non-Mobile First Method  ==========*/
/* Large Devices, Wide Screens */

@media only screen and (max-width : 1360px) {
  body {
    header.header {
      .navbar-header {
        nav.navbar {
          > ul {
            justify-content: space-around;
            li {
              a {
                padding-right: 5px;
                padding-left: 5px;
              }
            }
          }
        }
        .right-nav {
          justify-content: space-around;
          li {
            padding: 5px 10px;
            span {
              right: 0;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width : 1140px) {
  body {
    header.header {
      .navbar-header {
        .logo {
          img {
            width: 200px;
          }
        }
      }
    }
    .content {
      .filters {
        .wrap-sort {
          .sort {
            padding-right: 10px;
          }
        }
      }
    }//End content
    footer.footer {
      .logo-footer {
        width: 250px;
      }
      h2 {
        font-size: 45px;
      }
      h4 {
        font-size: 16px;
      }
      .footer-bar {
        img.logo-pay {
          margin-bottom: 15px;
        }
      }
    }//End footer
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  body {
    header.header {
      .navbar-header {
        .right-nav {
          li.wrapper-mobile-button {
            display: block;
          }
        }
      }
    }//End header
    .content {
      .filters {
        display: none;
      }
    }//End content
    footer.footer {
      text-align: center;
      .title-newsletter {
        margin-top: 40px;
      }
      .form-newsletter {
        position: relative;
      }
      .form-input {
        width: 65%;
      }
      .wrap-btn {
        display: block;
        left: 0;
        top: 0;
        position: static;
        .btn-with-icon {
          position: absolute;
          top: 0;
          right: 14%;
        }
      }// End wrap-btn
      .footer-bar {
        .wrap-pay {
          padding: 20px 0;
        }
        .right-links {
          float: none;
        }
      }
    }//End footer
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 575px) {
  body {
    header.header {
      .mobile-menu {
        height: calc(100% - 150px);
        top: 150px;
        right: -100vw;
        width: 100vw;
        height: 100vh;
      }
      .navbar-header{
        .logo {
          img {
            display: block;
            margin: 0 auto;
          }
        }
        .right-nav {
          margin-bottom: 10px;
        }
      }
      .search {
        right: -100vw;
        width: 100vw;
        height: 100vh;
        min-height: 600px;
      }
    }//End header
    .content {
      .breadcrums {
        padding-top: 158px;
      }
      .hero {
        padding: 30px 10px;
        h1 {
          font-size: 2rem;
        }
        h2 {
          font-size: 1.6rem;
        }
      }
    }// End content
    footer.footer {
      h4.title {
        margin-top: 30px;
      }
      .form-input {
        width: 90%;
      }
      .wrap-btn {
        //right: 0px;
        .btn {
          right: 5%;
        }
      }
      .footer-bar {
        img.logo-pay {
          margin-bottom: 15px;
        }
      }
    }
  }
}
@media only screen and (max-width : 380px) {

  body {
    footer.footer {
      h2 {
        font-size: 36px;
      }
    }
  }

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
  body {}
}